<!-- <h1 style="color:white">POLITICS ARE COOL!</h1>
<%= button_tag 'Find your Representatives', id: "geo-politician" %> -->

<div class="inner cover">
  <div class="jumbotron">
    <h1 class="cover-heading">Politics are cool.</h1>
    <p class="lead">Find your representatives.</p>
    <p class="lead">
      <a href="#" class="btn btn-xl btn-primary" id="geo-politician">Go</a>
    </p>
  </div>
</div>


<body>
  <h1></h1>

  <video autoplay muted loop poster="http://i.ytimg.com/vi/pv1O41akdeI/maxresdefault.jpg" id="bgvid">
    <source src="https://dl.dropboxusercontent.com/u/110013595/LandingPage.mp4" type="video/mp4">
  </video>

</body>
</html>
