<div class="container">
    <div class="row vertical-center-row">
        <div class="col-lg-12">
            <div class="row ">
                <div class="col-xs-2 col-xs-offset-5">
                  <h1 style="color:white">POLITICS ARE COOL!</h1>
                  <%= button_tag 'Find your Representatives', id: "geo-politician" %>
                </div>
            </div>
        </div>
    </div>
</div>

