<div class="row pad">
  <h1 class="heading findyourreps">Here are your elected representatives!</h1>
  <p class="heading__sub"></p>
</div>


<div class="jumbotron">
  <div class="row">
    <%= render @politicians %>
  </div>
</div>

<div class="jumbotron">
  <div class="row">
  <h2 class="findyourreps">Interested in other places?</h2>
  <br>
    <%#= label_tag :zipcode %>
    <%= text_field_tag :zipcode, "" ,placeholder: "Enter Zipcode", class: "form-inline" %>
    <br>
    <br>
    <%= submit_tag :Search, class: "search-button btn btn-l btn-primary" %>
  </div>
</div>

<video autoplay muted loop poster="/assets/flag.gif" id="bgvid">
</video>
