<div class="row pad">
  <h1 class="heading">Here are your elected representatives!</h1>
  <p class="heading__sub"></p>
</div>


<div class="jumbotron">
  <div class="row">
    <%= render @politicians %>
  </div>
</div>

<video autoplay muted loop poster="/assets/flag.gif" id="bgvid">
</video>
