$('#articles img').hide();

<% @articles.each do |article| %>
$('#articles').append("<div id='indiv-article' class='col-xs-4'> <%= j link_to article.headline, article.url, class: @politician.party %> </div>");
<% end %>